<div [formGroup]="formgroup" [ngSwitch]="question.type">
  <app-custom-text *ngSwitchCase="'text'" [formControlName]="question.key" [type]="question.type">
  </app-custom-text>
  <app-custom-text *ngSwitchCase="'email'" [formControlName]="question.key" [type]="question.type">
  </app-custom-text>
  <app-custom-text *ngSwitchCase="'password'" [formControlName]="question.key" [type]="question.type">
  </app-custom-text>
  <app-custom-select *ngSwitchCase="'dropdown'" [formControlName]="question.key" [options]="question.options">
  </app-custom-select>
  <app-custom-checkbox *ngSwitchCase="'checkbox'" [formControlName]="question.key"></app-custom-checkbox>
  <ng-container *ngSwitchCase="'radio'">
    <app-custom-radio [formControlName]="question.key" [options]="question.options"></app-custom-radio>
  </ng-container>
</div>
<div class="errorMessage" *ngIf="!isValidAction(question.key,question.type)">{{question.label}} is required</div>
