.errorMessage{
    color: red;
}
.section
{
    border: 1px solid red;

}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}